
{% extends 'base.html.twig' %}

{% block content %}
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Каталог /</span> ТСП
    </h4>

    <!-- DataTable with Buttons -->
    <div class="card">
        <div class="card-datatable table-responsive pt-0">
            <table class="datatables-basic table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Вид деятельности</th>
                    <th>Реквизиты</th>
                    <th>Контакты</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <!-- Modal to add new record -->
    <div class="offcanvas offcanvas-end" id="record">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="modalTitle"></h5>
            <button
                    type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body flex-grow-1">
            <form class="add-new-record pt-0 row g-3" id="record" onsubmit="return false">
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_name"
                                    class="form-control partner_name"
                                    name="partner_name"
                                    aria-describedby="partner_name" />
                            <label for="basicFullname">Название</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_occupation"
                                    class="form-control partner_occupation"
                                    name="partner_occupation"
                                    aria-describedby="partner_occupation" />
                            <label for="basicFullname">Вид дейтельности</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_bank"
                                    class="form-control partner_details_bank"
                                    name="partner_details_bank"
                                    aria-describedby="partner_details_bank" />
                            <label for="basicFullname">Банк</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_inn"
                                    class="form-control partner_details_inn"
                                    name="partner_details_inn"
                                    aria-describedby="partner_details_inn" />
                            <label for="basicFullname">ИНН</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_kpp"
                                    class="form-control partner_details_kpp"
                                    name="partner_details_kpp"
                                    aria-describedby="partner_details_kpp" />
                            <label for="basicFullname">КПП</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_ogrn"
                                    class="form-control partner_details_ogrn"
                                    name="partner_details_ogrn"
                                    aria-describedby="partner_details_ogrn" />
                            <label for="basicFullname">ОГРН</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_bik"
                                    class="form-control partner_details_bik"
                                    name="partner_details_bik"
                                    aria-describedby="partner_details_bik" />
                            <label for="basicFullname">БИК</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_account_number"
                                    class="form-control partner_details_account_number"
                                    name="partner_details_account_number"
                                    aria-describedby="partner_details_account_number" />
                            <label for="basicFullname">Счет</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_corr_account_number"
                                    class="form-control partner_details_corr_account_number"
                                    name="partner_details_corr_account_number"
                                    aria-describedby="partner_details_corr_account_number" />
                            <label for="basicFullname">Корр. счет</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_details_address"
                                    class="form-control partner_details_address"
                                    name="partner_details_address"
                                    aria-describedby="partner_details_address" />
                            <label for="basicFullname">Адрес</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_contacts_phone_number"
                                    class="form-control partner_contacts_phone_number"
                                    name="partner_contacts_phone_number"
                                    aria-describedby="partner_contacts_phone_number" />
                            <label for="basicFullname">Номер телефона</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input
                                    type="text"
                                    id="partner_contacts_email"
                                    class="form-control partner_contacts_email"
                                    name="partner_contacts_email"
                                    aria-describedby="partner_contacts_email" />
                            <label for="basicFullname">Почта</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">Сохранить</button>
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Отменить</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
